<div class="container">
  <h2>Les six premiers pokémons</h2>
  <hr />
  <p>{{ count }} dans la base de données :</p>
  <div class="colums">
    <div class="column is-two-third">
      <form #form="ngForm">
        <div class="field has-addons">
          <div class="control has-icons-left">
            <input
              type="test"
              name="pokemonSearch"
              placeholder="Nom du Pokémon"
              [(ngModel)]="formSearchPokemon.nom"
              (keyup)="search(formSearchPokemon.nom)" pattern="[a-zA-Z]*" [class.is-danger]="form.invalid"
              class="input is-small"
            />
            <span class="icon is-small is-left">
              <fa-icon [icon]="faOptinMonster"></fa-icon> 
            </span>
            <div *ngIf="form.invalid" class="tag is-danger is-light"> Le champ de saisie ne doit contenir que des lettres</div>
            <div *ngIf="easterEggs">
              <img src="https://media.giphy.com/media/L32GP5Oxzld5KyxKK8/giphy.gif" alt="">
            </div>
          </div>
          <div class="control">
            <a
              class="button is-primary is-small"
              (click)="search(formSearchPokemon.nom)"
              [class.is-danger]="form.invalid"
            >
              Rechercher</a
            >
          </div>
          <div class="control">
            <a class="button is-light is-small" (click)="cancelSearch()"
              >Annuler</a
            >
          </div>
        </div>
      </form>
    </div>
    <!-- <p *ngIf=pokemonSelected> Le pokemon selectionné est : {{pokemonSelected}}</p> -->
  </div>
  <div *ngIf="!pokemons.length">Aucun Pokemon trouvé</div>
  <div class="colums is-multiline">
    <ul
      class="menu-list column is-one-third"
      *ngFor="let pokemonTab of pokemons"
    >
      <li>
        <app-pokemon
          [pokemon]="pokemonTab"
          (evenemitClicImage)="pokemonSelected = $event"
        ></app-pokemon>
      </li>
    </ul>
  </div>
</div>
